
/*oberstes Layout - VBox top*/
.root-container {
    -fx-background-color: #82ff8c;
    -fx-alignment: top-center;   /* zentriert Elemente horizontal*/
}

/*Menüleiste ganz oben */
.menu-bar {
    -fx-background-color: #ffffff;
}

/* Hover/geöffnetes Menü */
.menu-bar .menu:hover,
.menu-bar .menu:showing {
    -fx-background-color: #929292;
}

/*Formatierung für die Überschrift */
.ueberschrift {
    -fx-font-size: 28px;            /* Textgröße */
    -fx-font-weight: bold;          /* Dicke: normal | bold | 100–900 */
    -fx-fill: #220c9c;         /* Textfarbe */
}

/*Containerhälften - VBox links rechts*/
.upper-container {
    -fx-background-color: #82ff8c;
    -fx-padding: 20;        /*Abstand nach aussen*/
    -fx-spacing: 5;         /*Abstand der Elemente innerhalb */
}

/*Formatierung für Überschriften-Text auf der linken Fernsterseite */
.ueberschriftLinks {
    -fx-font-size: 16px;            /* Textgröße */
    -fx-font-weight: bold;          /* Dicke: normal | bold | 100–900 */
    -fx-fill: #220c9c;         /* Textfarbe */
}

/*Formatierung für Überschriften-Text auf der rechten Fernsterseite */
.ueberschriftRechts {
    -fx-font-size: 24px;            /* Textgröße */
    -fx-font-weight: bold;          /* Dicke: normal | bold | 100–900 */
    -fx-fill: #220c9c;         /* Textfarbe */
}

/* Formatierung für die Container der linken Seite */
.containerLinks {
    -fx-spacing: 10;               /*Abstand der Elemente innerhalb */
}

/* Formatierung für die Container der rechten Seite */
.containerRechts {
    -fx-spacing: 10;               /*Abstand der Elemente innerhalb */
}

/*Formatierung für die Tooltips */
.tooltip {
    -fx-font-size: 13px;
    -fx-background-color: #220c9c;
    -fx-text-fill: white;
}

/* Style für die ComboBoxen auf der linken Seite*/
.comboL {
    -fx-pref-width: 250px;   /* gewünschte Breite */
    -fx-min-width: 250px;    /* nicht kleiner */
    -fx-max-width: 250px;    /* nicht größer  */
}

/*oberstes Layout - newSaison - Fenster*/
.newSaison-container {
    -fx-background-color: #82ff8c;
    -fx-alignment: top-center;   /* zentriert Elemente horizontal*/
    -fx-spacing: 10;            /*Abstand der Elemente innerhalb */
    -fx-padding: 10;        /*Abstand nach aussen*/
}

/* Style für die Boxen in SeasionView */
.Box-newSaison {
    -fx-spacing: 4;            /*Abstand der Elemente innerhalb */
    -fx-padding: 4;        /*Abstand nach aussen*/
}

/*Formatierung für Text in SaisonView */
.Text-newSaison {
    -fx-font-size: 16px;            /* Textgröße */
    -fx-font-weight: bold;          /* Dicke: normal | bold | 100–900 */
    -fx-fill: #220c9c;         /* Textfarbe */
}

/*TextField in SaisonView */
.TextField-newSaison {
    -fx-pref-width: 30px;   /* gewünschte Breite */
    -fx-min-width: 30px;    /* nicht kleiner */
    -fx-max-width: 30px;    /* nicht größer  */
}